<!DOCTYPE html>
<html lang="ru">
    <head>
	{# Load the tag library #}
	{% load bootstrap3 %}
	{# Load CSS and JavaScript #}
	{% bootstrap_css %}
	{% bootstrap_javascript %}
	
	{# Display django.contrib.messages as Bootstrap alerts #}
	{% bootstrap_messages %}
	{% load static %}
        <meta charset="utf-8" />
        <title>MyBlog</title>
        <style>
            body {
                padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            }
        </style>
        <!--[if lt IE 9]>                                                      
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% block extrahead %}
        {% endblock %}
        <script type="text/javascript">
        $(function(){
        {% block jquery %}
        {% endblock %}
        });
        </script>
    </head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <div class="navbar-brand">Задания</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    <ul class="nav navbar-nav">
		    	<li><a href="{% url 'list' %}" class="">Все публикации</a></li>
			{% if user.is_authenticated %}
		    		<li><a href="{% url 'new' %}" class="">Создать новую</a></li>
		        {% endif %}        
	            </ul>
		    <ul class="nav navbar-nav navbar-right">
		        {% if user.is_authenticated %}
                                <p class="navbar-text">{{ user.username }}</p>
                		<li><a href="{% url 'auth_logout' %}" class="">Выйти</a></li>
		        {% else %}
				<li><a href="{% url 'auth_login' %}" class="">Войти</a></li>
		        {% endif %}        
		    </ul>
        </div>
    </div>

</nav>

<div class="container">
     {% block content %}Empty page{% endblock %}
</div> <!-- container -->

</body>
</html>
