{% extends 'tasks/base.html' %}
{% block content %}
{% load bootstrap3 %}
{% load image_extras %}
    <p>{{ task.pub_date }}</p>
    <h2>{{ task.title }}</h2>
    <p>{{ task.task_text }}</p>
    {% for Image in images %}
	<a href="{{Image.image.url}}"> <img src="{% replace_dir_in_img_url Image.image.url '/180x135/' %}" alt=""></a>
    {% endfor %}
    {% include "tasks/image_new_modal.html" %}
    {% buttons %}
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#imageNewModal">{% bootstrap_icon "star" %} Add images</button>
    {% endbuttons %}

{% endblock %}